* {
    box-sizing: border-box;
}

body {
    font-family:'SF Pro Display', sans-serif;
    font-style:normal;
    height: 100vh
    
}

a {
    display: inline-block;
    text-decoration: none;
}

ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.container {
    position: relative;
    max-width: 1440px;
    margin: 0px auto;
    padding: 30px 30px;
}

.nav-mobile-menu {
    display: none;
}

.tree {
    background-image: url(../image/Hazelnut_tree.png);
    position: fixed;
    width: 518px;
    height: 769px;
    left: calc(50% - 518px/2 - 1px);
    bottom: -29px;
    background-size: 100%;
    background-repeat: no-repeat; 
}

.header {
    z-index: 5;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__top a {
    color:white;
    font-size: 14px;
    line-height: 16,71px;
    font-weight: 700;
}

.header__language{
    z-index: 10;
}
.header__language a {
    margin: 0px 10px 0px 0px;
}

.header__language a:hover {
    padding-bottom: 6px;
    border-bottom: 2px solid #fff;
}

.header__inner a:hover {
    padding-bottom: 6px;
    border-bottom: 2px solid #fff;
}

.header__logo{
    z-index: 10;
    text-align: center;
    position: relative;
    left: 130px;
}


.title {
    color:white;
    padding-top: 15px;
}

.header__nav {
    z-index: 10;
}

.header__nav a{
    margin: 0px 0px 0px 30px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 100px;
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(72.1% 72.1% at 50% 50%, #5CA767 0%, #153E1B 100%);
    background-size: cover;
    background-position: center;
    min-height: 100vh!important;
}

.title_product {
    font-family: 'SF Pro Display';
    font-size: 40px;
    line-height: 47px;
    color: white;
    font-weight: 900;
}

.product__content_inner {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
}

.title_product {
    width: 50%;
}

.btn_product button{
    padding: 16px 72px 16px 52px;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    /* border: 1px solid transparent; */
    border: 1px solid #fff;
    border-radius: 8px;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    cursor: pointer;
}

.btn_product button:hover {
    border: 1px solid #fff;
    border-radius: 8px;
    transition: all .3s;
    background-color: #fff;
    color: #000;
}

.btn_product button:after {
    content: "\f105";
    font-family: 'icomoon';
    padding-left: 6px;
}


.product {
    margin-top: 350px;
}

.product a {
    display: table;
    font-size: 22px;
    line-height: 26px;
    color: #fff;
    margin: 12px;
    font-family: 'SF Pro Display';
    font-weight: 700;
    border-bottom: 2px solid transparent;
}

.product a:hover {
    border-bottom: 2px solid #fff;
}

.product__content_inner {
    margin: 12px 0px 46px 0px;
    font-family: 'SF Pro Display';
    font-weight: 300;
}

.product__content {
    margin-top: 350px;
}

.leaf1 img{
    position: absolute;
    width: 112.1px;
    height: 77.61px;
    left: 15px;
    top: 700px;

}

.leaf2 img{
    position: absolute;
    width: 101px;
    height: 90px;
    right: 54px;
    top: 730px;
    transform: rotate(67.93deg);
}

.leaf3 img{
    position: absolute;
    width: 68.29px;
    height: 79.67px;
    left: calc(8% - 149px/2 + 324px);
    top: 657px;
}

.leaf4 img{
    position: absolute;
    width: 61px;
    height: 47px;
    left: 406px;
    top: 190px;
}

.leaf5 img{
    position: absolute;
    width: 61px;
    height: 47px;
    right: 390px;
    top: 700px;
}

.leaf6 img{
    position: absolute;
    width: 111.96px;
    height: 89.57px;
    right: 303.11px;
    top: 84px;
}

.product svg {
    margin: 6px 0
}

.seedling {
    display: flex;
}

.seedling a{
    border-bottom: 2px solid white;
}

.seedling li {
    display: inline-flex
}

.seedling img {
    width: 35px;
    height: 35px;
    margin-top: 8px;
}


.vermiculture li {
    display: inline-flex
}

.vermiculture img {
    width: 35px;
    height: 35px;
    margin-top: 8px;
}


.jam li {
    display: inline-flex
}

.jam img {
    width: 35px;
    height: 35px;
    margin-top: 8px;
}

div .jam > li:hover img {
    font-size: 20px;
    width: 35px;
    height: 35px;
    background-image: url(../image/Варенняhover.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.other_goods li {
    display: inline-flex
}

.other_goods img {
    width: 35px;
    height: 35px;
    margin-top: 8px;
}

div .other_goods > li:hover img {
    font-size: 20px;
    width: 35px;
    height: 35px;
    background-image: url(../image/Інші20товариhover.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    height: 50px;
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.bydevelop {
    font-size: 16px;
    margin: 16px 0px 17px 30px;
}

.bydevelop span {
    color: #F2650F;
    font-weight: 600;
}

.social {
    margin: 11px 30px 11px 0;   
    display: flex;
    
}

.social div {
    padding: 0px 8px 0px 8px;
}

.social rect:hover {
    fill: #333333;
    cursor: pointer;
}
.header__inner > a, .header__nav >a{
    cursor: pointer;
}
.header__inner a:hover {
    padding-bottom: 6px;
    border-bottom: 2px solid #fff;
}
.header__inner a:hover {
    padding-bottom: 6px;
    border-bottom: 2px solid #fff;
}