* {
    box-sizing: border-box;
}

body {
    font-family:'SF Pro Display', sans-serif;
    font-style:normal;   
    height: 100vh;
}

a {
    display: inline-block;
    text-decoration: none;

}

.item a {
    width: 100%;
}

ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.header {
    max-height: 162px;
    padding-left: 15px;
    padding-right: 15px;
}


.container{
    position: relative;
    max-width: 1440px;
    margin: 0px auto;
    padding: 30px 30px;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__top a {
    color: #333333;
    font-size: 14px;
    line-height: 16,71px;
    font-weight: 700;
}

.header__language{
    z-index: 10;
}

.header__language a {
    color: #333333;
    margin: 0px 10px 8px 0px;
}

.header__language a:hover {
    padding-bottom: 6px;
    border-bottom: 2px solid #000000;
}

.header__nav a:hover {
    padding-bottom: 6px;
    border-bottom: 2px solid #000000;
}

.header__nav a:nth-last-child(1){
    padding-bottom: 6px;
    border-bottom: 2px solid #F2650F;
}

.header__logo{
    left: 125px;
    z-index: 1;
    text-align: center;
    position: relative;
  
}

.header__nav {
    z-index: 10;
}

.header__nav a{
    margin: 0px 0px 0px 30px;
}

.btn__send {
    text-align: center;
}
.btn__send button {
    width: 350px;
    Height :50px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #F2650F;
    background-color: #ffffff;
    font-weight: 400;
    padding-left: auto;
    padding-right: auto;
}
.btn__send button:hover {
    transition: all .3s;
    background-color: #F2650F;
    border: 1px solid #F2650F;
    color: white;
}
.svg__hover :hover path{
    fill: #ffffff
}
.btn__send button svg path:hover {
    fill: #ffffff;
}

.btn__send {
    margin: 30px 0px 60px;
}

.btn__send button span {
    margin: 10px;
}

.main__contacts {
    display: flex;
    justify-content: center;
    text-align: center;
}
.number {
    margin-right: 90px;
}

.number p {
    line-height: 28px;
    font-weight: 700;
    
}
.number a {
    color: #F2650F;
    font-weight: 700;
    font-style: 22px;
}
.email {
    margin-left: 90px;
}

.email p {
    line-height: 28px;
    font-weight: 700;

}
.email a {
    color: #F2650F;
    font-weight: 700;
}
.vline {
    border-left: 1px solid #bdbddb;
    Height:73px;
}
.hline {
    border-top: 1px solid #bdbddb;
    width: 70px;
    text-align: center;
    display: none;
}

.adress {
    border-top: 1px solid #bdbddb;
    max-width: 730px;
    text-align: center;
    margin: 30px auto 0;
}
.adress p {
    margin: 0 auto;
    max-width: 550px;
    line-height: 2;
}
.adress h3 {
    margin-top: 40px;
}

.map {
    padding-top: 40px;
    width: 100%;
}
.footer {
    height: 50px;
    background-color: #FCFCFC;
  position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.bydevelop {
    font-size: 16px;
    margin: 16px 0px 17px 30px;
}

.bydevelop span {
    color: #F2650F;
    font-weight: 600;
}

.social {
    margin: 11px 30px 11px 0;   
    display: flex;
    
}

.social div {
    padding: 0px 8px 0px 8px;
}

.social rect:hover {
    fill: #333333;
    cursor: pointer;
}
.nav-mobile-menu {
    display: none;
}